$images-path: '/images';
$image-body: $images-path + '/body_bg.jpg';

$primary-font-family: 'nanum-barun-gothic', 'Nanum Gothic', Gulim, Helvetica,
  AppleGothic, Sans-serif;

$content-width: 1050px;
$left-container-width: 220px;
$offset-top: 31px;
$offset-left: 20px;
$padding-container: 25px;
$default-gap: 10px;
$font-size: 13px;

$gray-light: #adadb0;
