$images-path: '/images';
$image-body: $images-path + '/body_bg.jpg';

$primary-font-family: 'nanum-barun-gothic', 'Nanum Gothic', Gulim, Helvetica,
  AppleGothic, Sans-serif;

$main-container-width: 1050px;
$left-container-width: 180px;
$right-container-width: 770px;
$offset-top: 31px;
$offset-left: 20px;
$padding-container: 25px;
$default-gap: 10px;
$font-size: 13px;

$gray-light: #adadb0;

$blue-sky-light: #0ba1dd;
$blue-sky-dark: #18486e;
$dark-gray: #404042;

@mixin flex-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
