@use 'base';

.main {
  @include base.flex-center-content;
  min-width: base.$main-container-width;
}

.warpper {
  display: flex;
  gap: 39px;
  width: base.$main-container-width;
  margin-top: base.$offset-top;
}

.leftContainer {
  display: flex;
  width: base.$left-container-width;
}

.rightContainer {
  @include base.flex-center-content;
  flex: auto;
}

.rightContainerWrapper {
  width: base.$right-container-width;
}

.imageWrapper {
  @include base.flex-center-content;
  flex: 1 1 0;
}
