@use 'base';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: base.$content-width;
}

.warpper {
  display: flex;
  width: base.$content-width;
}

.leftContainer {
  display: flex;
  width: base.$left-container-width;
}

.rightContainer {
  display: flex;
}
